<!DOCTYPE html>
<html>
<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1><%= title %></h1>
  <div><a href="./validate" target="_blank">Go to Validate Page</a></div>
  
  <div><a href="./replicate" target="_blank">Go to Replicate Page</a></div>
</body>
</html>